{% extends "layout.html" %}

{% block styles %}
    * {
        box-sizing: border-box;
    }
    
    /* Add padding to containers */
    .container {
        padding: 16px;
        background-color: white;
        border-radius: 10px;
        width: 60%;
        margin: auto;
    }
    
    /* Full-width input fields */
    input[type=text], input[type=password] {
        width: 100%;
        padding: 15px;
        margin: 5px 0 22px 0;
        border: none;
        background: #f1f1f1;
    }
    
    input[type=text]:focus, input[type=password]:focus {
        background-color: #ddd;
        outline: none;
    }
    
    /* Overwrite default styles of hr */
    hr {
        border: 1px solid #f1f1f1;
        margin-bottom: 25px;
    }
    
    /* Set a style for the submit button */
    .btn {
        background-color: #4CAF50;
        color: white;
        padding: 16px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 49%;
        opacity: 0.9;
    }
    
    .btn:hover {
        opacity: 1;
    }    

    .success {
        color: green;
    }

    h4 {
        color: red;
    }
{% endblock %}

{% block heading %}{% endblock %}

{% block body %}
    {% if act == 1 %}
    <div class="registration">
        <div class="container">
            <h1 class = "success">Registration Succesful!</h1>
            <p>Please continue to <a href = "{{ url_for('register') }}">login</a>.</p>
        </div>
    </div>
    {% else %}
        <div class="registration">
            <form action = "{{ url_for('register') }}" method = "POST">
                <div class="container">
                    {% if act == 0 %}
                        <h1>Register</h1>
                    {% elif act == 0.1 %}
                        <h4>Invalid username/password.</h4>
                    {% else %}
                        <h4>User name already exists. Please choose another.</h4>
                    {% endif %}
                    <p>Please fill in this form to create an account/login.</p>
                    <hr>

                    <label for="usr"><b>Username</b></label>
                    <input type="text" placeholder="Enter Username" name="usr" required>

                    <label for="psw"><b>Password</b></label>
                    <input type="password" placeholder="Enter Password" name="psw" required>

                    <hr>
                    <input name="but" type = "submit" value = "Login" class="btn" formaction="{{ url_for('auth') }}">
                    <input name="but" type = "submit" value = "Register" class="btn">
                </div>
            </form>
        </div>
    {% endif %}
{% endblock %}
