{% extends "layout.html" %}

{% block styles %}
    * {
        box-sizing: border-box;
    }
    
    /* Add padding to containers */
    .container {
        padding: 16px;
        background-color: white;
        border-radius: 10px;
        width: 60%;
        margin: auto;
    }
    
    /* Full-width input fields */
    input[type=text], input[type=password] {
        width: 100%;
        padding: 15px;
        margin: 5px 0 22px 0;
        border: none;
        background: #f1f1f1;
    }
    
    input[type=text]:focus, input[type=password]:focus {
        background-color: #ddd;
        outline: none;
    }
    
    /* Overwrite default styles of hr */
    hr {
        border: 1px solid #f1f1f1;
        margin-bottom: 25px;
    }
    
    /* Set a style for the submit button */
    .btn {
        background-color: #4CAF50;
        color: white;
        padding: 16px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 49%;
        opacity: 0.9;
    }
    
    .btn:hover {
        opacity: 1;
    }    

    .success {
        color: green;
    }

    h4 {
        color: red;
    }
{% endblock %}

{% block heading %}
    <script type = "text/javascript">
        function notEmpty(username, password) {
            return username != "" && password != ""
        }

        function checkUsername(username) {
            arr = username.split("@")
            if (arr.length == 2) {
                domain = arr[1].split(".")
                if (domain.length == 2) {
                    return true
                }
            }
            return false
        }

        function checkPassword(password) {
            if (password.length < 6) {
                return false
            }
            upper = false
            lower = false
            number = false
            symbol = false
            for (let i = 0; i < password.length; i++) {
                code = password.charCodeAt(i)
                if (code >= 65 && code <= 90) {
                    upper = true
                } else if (code >= 97 && code <= 122) {
                    lower = true
                } else if (code >= 48 && code <= 57) {
                    number = true
                } else {
                    symbol = true
                }
            }
            return upper && lower && number && symbol
        }

        function validate() {
            username = document.myform.usr.value
            password = document.myform.psw.value

            if (!notEmpty(username, password)) {
                alert("Username and password fields cannot be empty.")
                document.myform.usr.focus()
                return false
            }
            if (!checkUsername(username)) {
                alert("Username should be a valid email address.")
                document.myform.usr.focus()
                return false
            }
            if (!checkPassword(password)) {
                alert("Password must contain a upper case letter, a lower case letter, a number and a symbol.")
                document.myform.psw.focus()
                return false
            }
            return true
        }

    </script>
{% endblock %}

{% block body %}
    {% if act == 1 %}
    <div class="registration">
        <div class="container">
            <h1 class = "success">Registration Succesful!</h1>
            <p>Please continue to <a href = "{{ url_for('register') }}">login</a>.</p>
        </div>
    </div>
    {% else %}
        <div class="registration">
            <form action = "{{ url_for('register') }}" name = "myform" method = "POST" onsubmit="return validate()">
                <div class="container">
                    {% if act == 0 %}
                        <h1>Register</h1>
                    {% elif act == 0.1 %}
                        <h4>Invalid username/password.</h4>
                    {% else %}
                        <h4>User name already exists. Please choose another.</h4>
                    {% endif %}
                    <p>Please fill in this form to create an account/login.</p>
                    <hr>

                    <label for="usr"><b>Username</b></label>
                    <input type="text" placeholder="Enter Username" name="usr">

                    <label for="psw"><b>Password</b></label>
                    <input type="password" placeholder="Enter Password" name="psw">

                    <hr>
                    <input name="but" type = "submit" value = "Login" class="btn" formaction="{{ url_for('auth') }}">
                    <input name="but" type = "submit" value = "Register" class="btn">
                </div>
            </form>
        </div>
    {% endif %}
{% endblock %}
