{% extends "layout.html" %}

{% block styles %}

    * {
        box-sizing: border-box;
    }

    /* Add padding to containers */
    #container {
        padding: 16px;
        background-color: white;
        border-radius: 10px;
        width: 60%;
        margin: auto;
    }

    h1 {
        color: white;
    }

    .logout {
        position: relative;
        left: 90%;
    }

    .search {
        position: fixed;
        top: 12%;
        right: 1%;
        padding: 16px;
        background-color: white;
        border-radius: 10px;
        width: 18%;
        margin: auto;
        float: left;
    }

    /* Full-width input fields */
    input {
        padding: 5px;
        margin: 5px;
        border: none;
        background: #f1f1f1;
    }

    /* Set a style for the submit button */
    .btn {
        margin: 5px;
        cursor: pointer;
        opacity: 0.8;
    }

    .btn:hover {
        opacity: 1;
    }

    .card {
        width: 100%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        padding: 16px;
        margin: 0 0 20px 0;
        text-align: center;
        background-color: #ccc;
        border-radius: 5px;
        cursor: pointer;
    }

{% endblock %}

{% block heading %}
    <script>
        var sel = "title"
        function myfunction(val) {
            console.log(val)
            sel = val
        }

        function clear() {
            var heading = document.createElement("h2")
            heading.innerHTML = "Search Result"
            document.getElementById("container").innerHTML = ""
            document.getElementById("container").appendChild(heading)
        }
        
        document.addEventListener('DOMContentLoaded', () => {
            document.querySelector('.btn').onclick = function() {
                const request = new XMLHttpRequest()
                const str = document.getElementById('str').value
                request.open('POST', '/api/search')

                const data = new FormData()
                data.append('sel', sel)
                data.append('str', str)
                request.send(data)
                console.log("here")

                request.onload = () => {
                    clear()
                    // var headin = document.createElement("h2")
                    // headin.innerHTML = "Search Results"
                    const data = JSON.parse(request.responseText)
                    console.log(data.status)

                    if (data.status == 200) {
                        const books = data.books
                        for (let i = 0; i < books.length; i++) {
                            var btn = document.createElement("button")
                            var bname = document.createElement("h2")
                            bname.innerHTML = books[i].title
                            btn.appendChild(bname)
                            var relation = document.createElement("P")
                            relation.innerHTML = "written by"
                            btn.appendChild(relation)
                            var auth = document.createElement("h3")
                            auth.innerHTML = books[i].author
                            btn.appendChild(auth)
                            
                            btn.classList.add('card')
                            btn.value = books[i].isbn
                            btn.onclick = function() {
                                bookPage(this.value)
                            }
                            
                            document.getElementById("container").appendChild(btn)
                        }
                    } else {
                        var para = document.createElement('P')
                        para.innerHTML = "No books found."
                        document.querySelector('#container').appendChild(para)
                    }
                }

                return false
            }
        })
        
        function bookPage(isbn){
            clear();
            const request = new XMLHttpRequest();
            request.open("POST", "/api/book_page/" + isbn);
            request.send()
            request.onload = () => {
                const response = JSON.parse(request.responseText)
                // console.log(response)
                book = response.book
                if (response["status"] == 200) {
                    const reviews = response.reviews
                    console.log(reviews)
                    const row = document.createElement("div")
                    row.setAttribute("class", "row");
                    let col_book = document.createElement("div")
                    col_book.setAttribute("class", "col-md-4 col-md-4")

                    let card = document.createElement("div")
                    card.setAttribute("class", "card")

                    let overlay = document.createElement("div")
                    overlay.setAttribute("class", "overlay")
                    overlay.style.padding = "25px"

                    let title = document.createElement("h3")
                    title.setAttribute("class", "title")
                    title.innerHTML = `${book.title}`

                    let author = document.createElement("h6")
                    author.setAttribute("class", "text")
                    author.innerHTML = `Author: ${book.author}`

                    let year = document.createElement("p")
                    year.setAttribute("class", "text")
                    year.innerHTML = `Year: ${book.pub_year}`


                    imageurl = "http://covers.openlibrary.org/b/isbn/"+book.isbn+"-M.jpg"


                    let im = document.createElement("IMG");
                    im.setAttribute("src", imageurl);
                    im.setAttribute("width", "40%");
                    im.setAttribute("alt", book.title);

                    overlay.appendChild(title)
                    overlay.appendChild(im)
                    overlay.appendChild(author)
                    overlay.appendChild(year)
                    col_book.appendChild(card)
                    row.appendChild(col_book)
                    row.appendChild(overlay)
            
            let review_col = document.createElement("div")
            
            review_col.setAttribute("class", "col-md-6 col-md-6")
            review_col.style.padding = "25px"

            let head = document.createElement("h2")
            head.innerHTML = `Reviews: `


            // let tp = document.createElement("p")
            // tp.innerHTML = `You can give your review in the review section below.`

            // console.log(reviews)

            if (reviews == null) {
                let tp1 = document.createElement("p")
                tp1.innerHTML = `No reviews yet`
                row.appendChild(tp1)

            } else {
                for (let i = 0; i < reviews.length; i++) {
                    let display_rev = document.createElement("div")
                    display_rev.setAttribute("class", "test")
                    display_rev.style.padding = "25px"

                    let rev_name = document.createElement("p")
                    rev_name.innerHTML = `User Name: ${reviews[i].name}`

                    let rev_rating = document.createElement("p")
                    rev_rating.innerHTML = `Rating: ${reviews[i].rating}`

                    let rev_desc = document.createElement("p")
                    rev_desc.innerHTML = `Review: ${reviews[i].review}`

                    display_rev.appendChild(rev_name)
                    display_rev.appendChild(rev_rating)
                    display_rev.appendChild(rev_desc)
                    review_col.appendChild(display_rev)
                    row.appendChild(review_col)
                    document.getElementById("container").appendChild(row)
                }
            }
                    addrev(isbn)
                }

            }
        }
    function addrev(id) {
    const rev = document.createElement("div");
    rev.setAttribute('class','userReviews')
    rev.innerHTML = `
    <center id = 'error'></center>
    <h5> Please submit your Review: </h5>
    <div class="form-row">
            <div class="form-group col-sm">
                <label for="rating">Rate this book</label>
                <select id="rating" name="rating" class="form-control" required>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option selected value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
            </div>
            <div class="form-group col-sm-6">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Comment:</span>
                    </div>
                    <textarea name="comment" id="comment" class="form-control" rows="3" cols = "100" required></textarea>
                </div>
            </div>
            <div class="form-group col-sm">
                <button class="btn btn-success" id = "forjs" type="submit">Submit</button>
            </div>
            </div>
            `
            document.querySelector('#container').appendChild(rev)
            document.querySelector('#container').onclick =() => {
                let comm = document.querySelector('textarea[name="comment"]').value;
                let rat = document.querySelector('select[name ="rating"]').value;
                rev_book(id,comm,rat);
            }
        }

    function rev_book(id,d,s){
        const user = document.querySelector('#username').value;
        const req = new XMLHttpRequest();
        let param = '?review='+d+'&isbn='+id+'&username='+user+'&rating='+s
        req.open('POST','/api/submit_review'+param)
        req.send()
        req.onload = () => {
            let data = JSON.parse(req.responseText);
            if (data['status'] == 200)
                book_html(id)
            else{
                    const error = document.querySelector('#error')
                    error.innerHTML = `ERROR `+ data['status']
            }
        }
    }

    </script>
{% endblock %}

{% block body %}
<input id = "username" type = "hidden" value = "{{session['username']}}">
    <div id="container">
        <h2>Search Results</h2>
        {% if not empty %}
            {% for book in books: %}
            <form action="/bookpage/{{book[1]}}">
                <button style="cursor:pointer;" class="card" type="submit" name="isbn" value={{book[1]}}>
                    <h2>{{ book[0] }}</h2>
                    <p>Written By</p>
                    <h3>{{ book[2] }}</h3>
                </button>
            </form>
            {% endfor %}
        {% else %}
            <h3>No books match the request.</h3>
        {% endif %}
    </div>
    <!-- <div class="search">
        <h2>Search</h2>
        <form id = "form" action = "{{ url_for('userhome') }}" method = "POST">
            <input type="text" placeholder="Search.." name="str" style="width:80%" required>
            <label for="title" style="white-space:nowrap"> <input type="radio" name="sel" value="title" checked> Title</label>
            <label for="author" style="white-space:nowrap"> <input type="radio" name="sel" value="author"> Author</label>
            <label for="isbn" style="white-space:nowrap"> <input type="radio" name="sel" value="isbn"> ISBN</label>
            <input name="but" type="submit" class="btn">
        </form>
    </div> -->
    <div class="search">
        <h2>Search</h2>
        <form id = "form">
            <input type="text" placeholder="Search.." id = "str" name="str" style="width:80%" required>
            <label for="title" style="white-space:nowrap"> <input type="radio" onclick = "myfunction(this.value)" name="sel" value="title" checked> Title</label>
            <label for="author" style="white-space:nowrap"> <input type="radio" onclick = "myfunction(this.value)" name="sel" value="author"> Author</label>
            <label for="isbn" style="white-space:nowrap"> <input type="radio" onclick = "myfunction(this.value)" name="sel" value="isbn"> ISBN</label>
            <input name="but" type="submit" class="btn">
        </form>
    </div>
{% endblock %}
